// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Defined color variables:
$primary-color: #335145;
$secondary-color: #6E8387;
$tertiary-color: #A4B8C4;
$quaternary-color: #C8D3D5;
$quinary-color: #FCFAFA;
