<div class="d-flex flex-column vh-100">
  <%= button_to "Start a new chat", chats_path, method: :post, class: "btn btn-success text-white py-2 px-4 rounded m-2" %>
  <% @chats.each do |chat| %>
    <% if chat == @chat %>
      <%= link_to chat.messages[0]&.content&.truncate_words(16), chat_path(chat), class: "btn btn-secondary text-white py-2 px-2 rounded mx-2 my-1" %>
    <% else %>
      <%= link_to chat.messages[0]&.content&.truncate_words(16), chat_path(chat), class: "btn btn-primary text-white py-2 px-2 rounded mx-2 my-1" %>
    <% end %>
  <% end %>
</div>
